{% if page.file.src_uri.startswith('blog/posts') %}
<script src="https://giscus.app/client.js"
        data-repo="yakkle/yakkle.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNjI1MjI3MDk="
        data-category="Comments"
        data-category-id="DIC_kwDOCa_mVc4Cxc3p"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
